@using MvcResume.Models.Entity
@model List<TblYeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ 
    string renk = "";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">



        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Abilities List</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Ability</th>
                                            <th>Degree</th>
                                            <th style="width: 40px">Ratio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var x in Model) {
                                            if(x.Oran <= 50 && x.Oran>= 0) {
                                                renk = "progress-bar progress-bar-danger";
                                            }
                                            if(x.Oran >= 51 && x.Oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                            }
                                            if (x.Oran >= 71 && x.Oran <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                            }
                                            if (x.Oran >= 85 && x.Oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                            }

                                        <tr>
                                            <td>@x.ID</td>
                                            <td>@x.Yetenek</td>

                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="@renk" style="width: @x.Oran%"></div>
                                                </div>
                                            </td>
                                            <td><span class="@renk">@x.Oran%</span></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>