@using MvcResume.Models.Entity
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Page of Edit About Myself</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <label>Name</label>
        <input type="text" name="Name" value="@x.Name" class="form-control" />
        <br />
        <label>Surname</label>
        <input type="text" name="Surname" value="@x.Surname" class="form-control" />
        <br />
        <label>Adress</label>
        <input type="text" name="Adress" value="@x.Adress" class="form-control" />
        <br />
        <label>Phone</label>
        <input type="text" name="Phone" value="@x.Phone" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Mail" value="@x.Mail" class="form-control" />
        <br />
        <label>Photo</label>
        <input type="text" name="Fotograf" value="@x.Fotograf" class="form-control" />
        <br />
        <label>Description</label>
        <textarea rows="5" class="form-control" name="Description">@x.Description</textarea>
    }
    <br />
    <button class="btn btn-info">Update</button>
</form>

