@model MvcResume.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Password Page</h4>
<br />
<form method="post">

    @Html.Label("Admin ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Username")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Subtitle")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <button class="btn btn-success">Update</button>

</form>



