@model MvcResume.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "GetCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Page Of Edit Certificate</h4>
<br />
<form method="post">
    @Html.Label("Certificate Description")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>
    <a href="/Sertifika/DeleteCertificate/" class="btn btn-warning">Delete</a>
    <h1>@ViewBag.v</h1>

</form>


